.container {
  display: flex;
  flex-basis: 100%;
}

.header {
  padding: 0.8rem 1.6rem;
}

.header-no-bottom {
  composes: header;
  padding-bottom: 0;
}

.title {
  line-height: 2.4rem;
  margin-left: 1.6rem;
}

.title-fix-no-msg {
  padding-top: .8rem;
}

/* Builds */
.base {
  composes: base-text from './shared.css';
  composes: shadow-2p from './shared.css';
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  z-index: 1;
  margin: .4rem;
  background-color: #fff;
  font-size: 1.4rem;
  border-radius: 2px;
}

.base-no-spacing {
  composes: base;
  margin: 0;
}

.base-header {
  display: flex;
  color: #000;
}

.base-supporting {
  composes: supp-text from './shared.css';
  font-size: 1.2rem;
  line-height: 1.4rem;
  overflow: hidden;
  padding: .2rem 1.6rem .8rem;
}

/* TYPES. */
.default {
  composes: base;
}

.answer{
  composes: base;
}

.info{
  composes: base;
  flex-flow: row;
}

.grade{
  composes: base;
  background-color: rgba(255, 235, 59, .05);
}

.update {
  composes: base;
}

.header-default {
  composes: base-header;
}

.header-answer {
  composes: base-header;
  color: rgb(56, 142, 60);
}

/* TODO: bug ? */
/* composes: color-main from './shared.css';*/
.header-info {
  composes: base-header;
  color: rgb(139, 203, 202);
}

.header-grade {
  composes: base-header;
  color: rgb(251, 192, 45);
}

.header-update {
  composes: base-header;
}

.supporting-default {
  composes: base-supporting;
}

.supporting-answer {
  composes: base-supporting;
}

.supporting-info {
  composes: base-supporting;
  padding-top: .8rem;
  padding-left: 0;
  line-height: 2.4rem;
  font-weight: 500;
}

.supporting-grade {
  composes: base-supporting;
}

.supporting-update {
  composes: base-supporting;
}
