.base {
  background-color: rgba(139, 203, 202, 1);
  color: #fff;
}

.link {
  display: inline-block;
  width: 100%;
}

.top-space {
  composes: base;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  box-sizing: border-box;
  align-self: stretch;
  align-items: center;
  height: 64px;
  margin: 0;
  padding: 0 40px 0 80px;
}

.tab-container {
  composes: base;
  composes: grid from './shared.css';
  height: 48px;
  z-index: 2;
  flex-grow: 0;
  flex-shrink: 0;
}

.tab {
  composes: transition-button from './shared.css';
  flex: 1 0 0;
  background-color: rgba(139, 203, 202, 1);
  height: 48px;
  line-height: 48px;
  padding: 0 3.2rem 0 1.6rem;
  font-weight: 500;
  font-size: 1.8rem;
}
.tab:hover {
  background-color: rgba(59, 115, 114, 0.38);
}

.tab-empty {
  composes: top-space;
  height: 48px;
}

.tab-full {
  composes: tab;
  flex-basis: 100%;
}

.icon {
  float: left;
  padding-right: 16px;
}

.title {}
